body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 244, 244); 
  background-size: cover;
  font-family: sans-serif;
}

.ieeesb h2 {
  position: absolute;
  left: 2%;
  color: rgb(196, 194, 194);
}

.ieeelogo{
  height: 90px;
}

nav {
  position: fixed;
  background: rgb(196, 194, 194);
  min-height: 85px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

ul {
  position: fixed;
  right: 20%;
  top: 0%;
}

li {
  display: inline;
} 

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.menu:link, a:visited {
  background-color: rgba(0, 0, 0, 0.274);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.menu:hover, a:active {
  background-color:rgba(0, 0, 0, 0.568);
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.mesce{
  position: absolute;
  left: 14%;
}

.ieeelogo{
  height: 50px;
  width: 100px;
}

.meslogo{
  position: absolute;
  height: 50px;
  width: 70px;
}

.media{
  height: 20px;
  width: 20px;
}

.about{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70em
}

.btn-group{
  position: absolute;
  left: 23%;
}
.socButton {
  color: #fff;
  text-transform: uppercase;
  background: #050404;
  padding: 35px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.socButton:hover {
  background: #050404;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgb(0, 0, 0);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0);
  transition: all 0.4s ease 0s;
}

.carousel-inner img {vertical-align: middle;}

.carousel-inner .carousel-caption {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
/* .footer-lists
{
  padding-left:0;
  list-style:none
}
.footer-lists li
{
  display:block
} */
.copyright-text
{
  margin:0
}